html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

.has-footer {
    margin-bottom: 10rem;
}

.has-footer-bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 100px;
}

.has-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.has-centered-left {
    display: flex;
    align-items: center;
}

.login-wrapper {
    margin-bottom: 0 !important;
}

.login-bg {
    background-image: url("../images/login-bg.jpg");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}

.avatar-big {
    margin-top: -5rem;
    margin-left: auto;
    margin-right: auto;
}

.toast-container {
    position: fixed;
    top: 4rem;
    right: 1rem;
    z-index: 1111;
}

.toggle-eye {
    position: absolute;
    height: 2.5em;
    width: 2.5em;
    cursor: pointer;
    visibility: hidden;
}

input::-ms-reveal {
    display: none;
}

.button.is-floating {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    border-radius: 100px;
    text-align: center;
    font-size: 1.6rem;
    box-shadow: 0 .0625em .125em rgba(10,10,10,.05);
    z-index: 3
}

.button.is-floating.is-large {
    width: 90px;
    height: 90px;
    font-size: 2.6rem
}

.button.is-floating.is-medium {
    width: 75px;
    height: 75px;
    font-size: 2.2rem
}

.button.is-floating.is-small {
    width: 45px;
    height: 45px;
    font-size: 1.2rem;
    border-radius: 50px
}

.list-item-clickable {
    cursor: pointer;
}

.bd-links {
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
}

.bd-link {
    border-radius: 6px;
    display: flex;
    font-size: 1.25em;
    padding: 1em;
}

.bd-link:hover {
    background-color: #eff5fb; /*has-text-info-light*/
}

.bd-link-icon {
    flex-grow: 0;
    flex-shrink: 0;
    height: 1.5em;
    margin-right: 0.5em;
    width: 1.5em;
}

.bd-link-title {
    display: block;
    font-weight: 600;
    line-height: 1.5;
}

.bd-link-subtitle {
    font-size: 0.75em;
}

.emedih {
  display: none;
  visibility: hidden;
}
