@page
@model GtPrax.WebApp.Pages.MyAccount.ChangePasswordModel
@{
    ViewData["Title"] = Model.GetNode().Title;
    ViewData["HasFooter"] = true;
    Model.BuildHeaderMenu();
}

@await Html.PartialAsync("_Header")

<section class="section">
    <div class="container">

        @Html.CreateBreadcrumb()

        <div class="columns">
            <div class="column is-half">
                @if (!ModelState.IsValid)
                {
                    <div class="notification is-danger">
                        <button class="delete"></button>
                        <div asp-validation-summary="All"></div>
                    </div>
                }

                <form method="post">
                    <fieldset disabled="@Model.IsDisabled">
                        <div class="field">
                            <label class="label" asp-for="CurrentPassword"></label>
                            <div class="control">
                                <input class="input" type="password" asp-for="CurrentPassword" autofocus="" />
                                <span class="icon toggle-eye">
                                    <i class="fas fa-eye"></i>
                                </span>
                            </div>
                            <span asp-validation-for="CurrentPassword"></span>
                        </div>
                        <div class="field">
                            <label class="label" asp-for="NewPassword"></label>
                            <div class="control">
                                <input class="input" type="password" asp-for="NewPassword" />
                                <span class="icon toggle-eye">
                                    <i class="fas fa-eye"></i>
                                </span>
                            </div>
                            <span asp-validation-for="NewPassword"></span>
                        </div>
                        <div class="field">
                            <label class="label" asp-for="ConfirmNewPassword"></label>
                            <div class="control">
                                <input class="input" type="password" asp-for="ConfirmNewPassword" />
                                <span class="icon toggle-eye">
                                    <i class="fas fa-eye"></i>
                                </span>
                            </div>
                            <span asp-validation-for="ConfirmNewPassword"></span>
                        </div>

                        <button class="button is-primary" type="submit">Speichern</button>
                    </fieldset>
                </form>

            </div>
        </div>
    </div>
</section>

@await Html.PartialAsync("_Footer")
