<footer class="footer has-footer-bottom">
    <div class="content has-text-centered">
        <p>
            &copy; @DateTime.UtcNow.ToString("yyyy") <strong>GT Prax</strong> | <a href="/Imprint">Impressum</a> | <a href="/Privacy">Datenschutz</a> | <span>v</span>@appSettings.Value.Version
        </p>
    </div>
</footer>