@{ 
    var menu = (MenuItem?)ViewData["HeaderMenu"];
}

<nav class="navbar is-info">
    <div class="container">

        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <span class="icon mr-2">
                    <i class="fa-solid fa-laptop-medical"></i>
                </span>
                <span>GT Prax</span>
            </a>
            <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navMenu" class="navbar-menu">

            <div class="navbar-end">
                        
                <a class="navbar-item" href="/">
                    <span class="icon">
                        <i class="fas fa-home" aria-hidden="true"></i>
                    </span>
                    <span>Startseite</span>
                </a>

                @if (User.Identity == null || !User.Identity.IsAuthenticated)
                {
                    <span class="navbar-item">
                        <a class="button is-info is-inverted" href="/Login">
                            <span class="icon">
                                <i class="fas fa-sign-in-alt" aria-hidden="true"></i>
                            </span>
                            <span>Login</span>
                        </a>
                    </span>
                }
                else
                {
                    <a class="navbar-item" href="/MyAccount">
                        <span class="icon">
                            <i class="fas fa-user-circle" aria-hidden="true"></i>
                        </span>
                        <span>Mein Konto</span>
                    </a>

                    <span class="navbar-item">
                        <a class="button is-info is-inverted" href="/Login/Exit">
                            <span class="icon">
                                <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
                            </span>
                            <span>Logout</span>
                        </a>
                    </span>
                }
            </div>
        </div>
    </div>
</nav>

<section class="hero is-info is-small">

    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title">@appSettings.Value.HeaderTitle</p>
        </div>
    </div>

    @if (menu != null)
    {
        <div class="hero-foot">
            <nav class="tabs is-boxed is-medium">
                <div class="container">
                    <ul>
                        <li class="is-active has-text-info">
                            <a href="@menu?.Path">@menu?.Title</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    }
</section>