@page "/Users/Create"
@model GtPrax.WebApp.Pages.Users.CreateUserModel
@{
    ViewData["Title"] = Model.GetNode().Title;
    ViewData["HasFooter"] = true;
    Model.BuildHeaderMenu();
    var roleConverter = new RoleConverter();
}

@await Html.PartialAsync("_Header")

<section class="section">
    <div class="container">

        @Html.CreateBreadcrumb()

        @if (!ModelState.IsValid)
        {
            <div class="notification is-danger">
                <button class="delete"></button>
                <div asp-validation-summary="All"></div>
            </div>
        }

        <div class="columns">
            <div class="column is-half">

                <form method="post">
                    <div class="field">
                        <label class="label" asp-for="Input.Name"></label>
                        <div class="control">
                            <input class="input" type="text" asp-for="Input.Name" />
                        </div>
                        <span asp-validation-for="Input.Name"></span>
                    </div>
                    <div class="field">
                        <label class="label" asp-for="Input.Email"></label>
                        <div class="control">
                            <input class="input" type="email" asp-for="Input.Email" />
                        </div>
                        <span asp-validation-for="Input.Email"></span>
                    </div>
                    <div class="field">
                        <label class="label">Rollen</label>
                    </div>
                    <div class="field">
                        <input id="checkBoxAdmin" type="checkbox" asp-for="Input.Roles[0]" />
                        <label for="checkBoxAdmin">@roleConverter.RoleToName(Roles.Admin)</label>

                        <input id="checkBoxManager" type="checkbox" asp-for="Input.Roles[1]" />
                        <label for="checkBoxManager">@roleConverter.RoleToName(Roles.Manager)</label>

                        <input id="checkBoxStaff" type="checkbox" asp-for="Input.Roles[2]" />
                        <label for="checkBoxStaff">@roleConverter.RoleToName(Roles.Staff)</label>
                    </div>

                    <button class="button is-primary" type="submit">Anlegen</button>
                </form>

            </div>

        </div>
    </div>

</section>

@await Html.PartialAsync("_Footer")
