@page "/WaitingList/{id}/Patients"
@model GtPrax.UI.Pages.WaitingList.PatientsModel
@{
    ViewData["Title"] = Model.GetNode().Title;
    ViewData["HasFooter"] = true;
    Model.BuildHeaderMenu(new { id = Model.Id });
    var dateTimeConverter = new GermanDateTimeConverter();
    var createUrl = Url.PageLink(Model.PageLinkName<CreatePatientModel>(), null, new { id = Model.Id });
}

@await Html.PartialAsync("_Header")

<section class="section">
    <div class="container">

        <div class="columns is-gapless is-mobile">
            <div class="column is-flex is-align-items-center">@Html.CreateBreadcrumb(new { id = Model.Id })</div>
            <div class="column is-narrow">
                <div class="dropdown is-hoverable is-right">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="user-action">
                            <span class="icon is-small">
                                <i class="fas fa-ellipsis-h"></i>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="user-action" role="menu">
                        <div class="dropdown-content">
                            <div class="dropdown-item">
                                <div>Gesamt: 0</div>
                            </div>
                            <hr class="dropdown-divider" />
                            <a href="@createUrl" class="dropdown-item">
                                Patient(in) hinzufügen
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h1 class="subtitle">@Model.Details</h1>

        @if (!ModelState.IsValid)
        {
            <div class="notification is-danger">
                <button class="delete"></button>
                <div asp-validation-summary="All"></div>
            </div>
        }


    </div>
</section>

<a href="@createUrl" class="button is-floating is-success">
    <i class="fa-solid fa-circle-plus"></i>
</a>

@await Html.PartialAsync("_Footer")
