@page
@model GtPrax.UI.Pages.MyAccount.EditTwoFactorModel
@{
    ViewData["Title"] = Model.GetNode().Title;
    ViewData["HasFooter"] = true;
    Model.BuildHeaderMenu();
}

@await Html.PartialAsync("_Header")

<section class="section">
    <div class="container">

        @Html.CreateBreadcrumb()

        <div class="content">
            <blockquote>
                Für die <a target="_blank" rel="noopener noreferrer" href="https://de.wikipedia.org/wiki/Zwei-Faktor-Authentisierung">Zwei-Faktor-Authentifizierung (2FA)</a>
                wird eine Authenticator-App benötigt. Zum Beispiel Microsoft Authenticator für
                <a target="_blank" rel="noopener noreferrer" href="https://play.google.com/store/apps/details?id=com.azure.authenticator">Android</a>
                oder <a target="_blank" rel="noopener noreferrer" href="https://appstore.com/microsoft-authenticator">iOS</a>.
                Für die Aktivierung über das gleiche Gerät, einfach den QR-Code anklicken.
                Falls unterschiedliche Geräte verwendet werden, muss der QR-Code über die Authenticator-App eingescannt oder
                der geheime Schlüssel manuell eingegeben werden.
                Anschließend muss die Aktivierung mit einem 6-stelligen Code (aus der Authenticator-App) bestätigt werden.
            </blockquote>
        </div>

        <div class="columns">
            <div class="column is-one-third">

                @if (!ModelState.IsValid)
                {
                    <div class="notification is-danger">
                        <button class="delete"></button>
                        <div asp-validation-summary="All"></div>
                    </div>
                }

                <form method="post">
                    <fieldset disabled="@Model.IsDisabled">
                        <div class="field">
                            <label class="label" for="qrcode">QR-Code</label>
                            <div class="control">
                                <a href="@Model.AuthUri"><img id="qrcode" src="@Model.AuthQrCodeEncoded" alt="QR-Code" /></a>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" asp-for="SecretKey"></label>
                            <div class="control">
                                <input class="input" type="text" asp-for="SecretKey" readonly="readonly" />
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" asp-for="Code"></label>
                            <div class="control">
                                <input class="input" type="text" asp-for="Code" autocomplete="off" autofocus="" />
                            </div>
                            <span asp-validation-for="Code"></span>
                        </div>

                        @if (Model.IsTwoFactorEnabled)
                        {
                            <button class="button is-primary" type="submit">Deaktivieren</button>
                        }
                        else
                        {
                            <button class="button is-primary" type="submit">Aktivieren</button>
                        }
                    </fieldset>
                </form>

            </div>
        </div>
    </div>
</section>

@await Html.PartialAsync("_Footer")
